.imgview {
-fx-background-color: rgba(0,1,1,0.8);
-fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.img {
  -fx-background-color: rgba(0,1,0,0.8);
-fx-border-color: rgba(0,1,0,0.8);
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;

}